<div class="murder-board-container">
  <div class="murder-board-toolbar">
    <!-- Left Section: Board Management -->
    <div class="murder-board-toolbar-section">
      <button class="murder-board-btn murder-board-btn-primary" type="button" data-action="new-board" title="Create New Board">
        <i class="fas fa-plus"></i>
        <span>New Board</span>
      </button>
      
      <div class="murder-board-board-selector-wrapper">
        <select id="board-selector" class="murder-board-board-selector" title="Select a board">
          {{#each availableBoards}}
          <option value="{{this.id}}" {{#if this.isActive}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
        <span class="board-selector-display">{{#each availableBoards}}{{#if this.isActive}}{{this.name}}{{/if}}{{/each}}</span>
        <i class="fas fa-chevron-down"></i>
      </div>
      <button class="murder-board-btn murder-board-btn-icon" type="button" data-action="board-selector-settings" title="Board Settings">
        <i class="fas fa-cog"></i>
      </button>
    </div>

    <!-- Center Section: View Controls -->
    <div class="murder-board-toolbar-section">
      <button class="murder-board-btn murder-board-btn-secondary" type="button" data-action="center-canvas" title="Center View">
        <i class="fas fa-expand"></i>
        <span>Center View</span>
      </button>
      <button class="murder-board-btn murder-board-btn-secondary" type="button" data-action="toggle-center" title="Show/Hide Center Point" id="toggle-center-btn">
        <i class="fas fa-crosshairs"></i>
        <span>Show Center</span>
      </button>
      <button class="murder-board-btn murder-board-btn-secondary" type="button" data-action="toggle-fullscreen" title="Toggle Fullscreen">
        <i class="fas fa-window-maximize"></i>
        <span>Fullscreen</span>
      </button>
    </div>

    <!-- Right Section: Mode Indicator -->
    <div class="murder-board-toolbar-section murder-board-toolbar-section-right">
      <span class="murder-board-mode-indicator" id="mode-indicator"></span>
    </div>
  </div>
  <div class="murder-board-canvas-wrapper">
    <canvas id="murder-board-canvas" class="murder-board-canvas"></canvas>
  </div>
</div>
